<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title><%=title%></title>
</head>
<body>
    <%=data.length %>
    <table class = "table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>U_authorization</th>
                <th>U_Fullname</th>
                <th>U_Address</th>
                <th>U_Phone</th>
                <th>U_Sex</th>
                <th>U_Email</th>
                <th>xoa</th>
                <th>sua</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0;i<data.length;i++)
            { %>
                <tr>
                    <td><%= data[i].U_ID %></td>
                    <td><%= data[i].Username %></td>
                    <td><%= data[i].Password %></td>
                    <td><%= data[i].U_Authoriztion %></td>
                    <th><%= data[i].U_Fullname %></th>
                    <th><%= data[i].U_Address %></th>
                    <th><%= data[i].U_Phone %></th>
                    <th><%= data[i].U_Sex %></th>
                    <th><%= data[i].U_Email %></th>
                    <td><a href='/admin/user/delete/<%=data[i].B_ID%>'>Xoa</a></td>
                    <td><a href='/admin/user/update/<%=data[i].B_ID%>'>sua</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>