<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title><%=title%></title>
</head>
<body>
    <%=data.length %>
    <table class = "table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>xoa</th>
                <th>sua</th>
            </tr>
        </thead>
        <tbody>
            <%for(var i=0;i<data.length;i++)
            { %>
                <tr>
                    <td><%= data[i].B_ID %></td>
                    <td><%= data[i].B_Name %></td>
                    <td><%= data[i].B_Description %></td>
                    <td><a href='/deleteBook/<%=data[i].B_ID%>'>Xoa</a></td>
                    <td><a href='/pageUpdateBook/<%=data[i].B_ID%>'>sua</a></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</body>
</html>